/** LIGHT MODE */
// main
$primary-background--light: #efefef;
$green--light: #3CDA7D;
$orange--light: #DA883C;
$gray--light: #ADADAD;

$primary-text--light: #202020;
$secundary-text--light: #727272;

// secondary
$secondary-background--light: #e6e6e6;
$secondary-color--light: #202020;

// tertiary
$tertiary-background--light: #CCCCCC;
$tertiary-color--light: #202020;


/** DARK MODE */
// main
$primary-background--dark: #202020;
$green--dark: #3CDA7D;
$orange--dark: #DA883C;
$gray--dark: #ADADAD;

$primary-text--dark: #f3f3f3;
// $secundary-text--dark: #727272;

// secondary
$secondary-background--dark:#54695A;
$secondary-color--dark: #202020;

// tertiary
$tertiary-background--dark: #28362C;
$tertiary-color--dark: #202020;


